.backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 3;
}
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-items {
  background-color: rgb(255, 255, 255);
  height: 80vh;
  width: 60vw;
  border-radius: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Styles for CartItem.js */
.cartItem-container {
  width: 50vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: scroll;
  margin-top: 1vh;
  padding: 0 2% 0 2%;
}
.cartItem-list {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}
.items-info {
  height: 8vh;
  width: 30vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}
.add-remove {
  width: 10vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-remove button {
  height: 40px;
  width: 40px;
  font-weight: bold;
  font-size: 18px;
}
.name-price {
  font-size: 14px;
  font-weight: bold;
}
.amount {
  font-size: 14px;
  font-weight: bold;
}
.total-amount {
  background-color: rgb(255, 255, 255);
  width: 50vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2% 0 2%;
  font-size: 18px;
}
.form-checkout {
  background-color: rgb(236, 236, 236);
  width: 50vw;
  height: 35vh;
  margin-bottom: 2vh;
  padding: 0 2% 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.input-container {
  width: 50vw;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
  font: 16px;
  font-weight: bold;
}
.input-container input {
  width: 25vw;
  height: 4vh;
}
.button-container {
  width: 30vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* cart.js buttons */
.button-box {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2% 0 2%;
}
.actions-box {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order {
  background-color: rgb(61, 158, 255);
  height: 40px;
  width: 80px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
}
.cancel {
  background-color: rgb(215, 16, 41);
  height: 40px;
  width: 80px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
.order:hover {
  background-color: rgb(17, 136, 255);
}
.cancel:hover {
  background-color: rgb(155, 4, 24);
}
